.formField {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
}

.error {
    color: red;
}

.formField {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
}

.formField>input {
    padding: 10px;
    font-size: 15px;
    border: 1px solid lightblue;
    border-top: none;
    border-left: none;
    border-right: none;
}

.formField>input:focus-visible {
    outline-color: transparent !important;

}

.error > input {
    color: red;
    border-bottom: 1px solid red;
}